.container{
    width: 90%;
    margin-left: 5%;
    text-align: left;
}
thead{
    width: 100%;
    background-color: rgb(24, 24, 24);
}
thead tr{
    background-color: rgb(24, 24, 24);
}
thead tr th{

    color: #fff;
    padding:10px 12px ;
    font-size: 17px;
    font-family: 'inter';
    font-weight: 400;
}
tbody{
    width: 100%;
    background-color: rgb(196, 196, 196);
}
tbody tr td{

    color: rgb(27, 27, 27);
    padding:10px 12px ;
    font-size: 17px;
    font-family: 'inter';
    font-weight: 400;
}
tbody tr button{
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    padding:5px 12px ;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    font-family: 'inter';
    cursor: pointer;
    font-weight: 400;
}
.content{
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 10vh;
    background-color: rgba(128, 128, 128, 0.411);
}
.close{
    position: absolute;
    top: 0;
    right: 0;

}
.temp{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    margin-top: 10vh;
    margin-left: 10%;
    height: 80vh;

    background-color: rgba(36, 36, 36, 0.774);

}
.hoi tr td{
    padding: 10 12px;
    font-size: 16px;

   color: #fff;
}
.lineer{
    width: 100%;
    margin-top: 60px;
}
.cloing{
    display: none;
}
.close{
    padding: 10px;
    font-size: 16px;
    color: red;
    border: none;
    cursor: pointer;
    font-family: 'inter';
    background-color: rgb(156, 80, 80);

}
.lineer tbody tr td{
    font-size: 14px;
}
.seacrhbox{
    border-radius:5px;
    padding-left: 20px;
    font-size: 18px;
    border: 1px solid gray;
    margin-top: 100px;
    margin-bottom: 100px;
    outline: none;
    width: 70%; 
    height: 50px; 
    margin-left: 15%;
    font-family: 'inter';

}